/*** BASE STYLES & VARIABLES ***/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Murecho:wght@300;400;500;600;700&display=swap");
:root {
  --navy: #05125f;
  --blue: #2D3A88;
  --magenta: #931cad;
  --darkMagenta: #5e1279;
  --darkGrey: #242736;
  --lightPurple: #EDE9FE;
  --white: #fff;
  --header-gradient: linear-gradient(320deg, #5e1279 2.37%, #05125f 67.37%);
  --tplains-font_heading: "Murecho", sans-serif;
  --tplains-font_body: "Lato", sans-serif;
  --default-transition: all 250ms ease-in-out;
  font-size: calc(15px + .390625vw);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.hide {
  display: none !important;
  overflow: hidden !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.centered{
  text-align: center;
}
.mt-8 {
  margin-top: 8rem;
}
a.primary-btn{
  background-color: var(--magenta);
  border-radius: 4px;
  padding: 1rem 2rem;
  font-weight: bold;
  font-family: var(--tplains-font_heading);
  transition: var(--default-transition);
  color: var(--white);
  text-decoration: underline dotted 4px var(--magenta);
  display: inline-block;
}
a.primary-btn:focus,a.primary-btn:hover {
  background-color: var(--darkMagenta);
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--white);
  font-family: var(--tplains-font_body);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--tplains-font_heading);
}
h2{
  font-size: 2.25rem;
  font-weight: 500;
}
h3{
  font-size: 2rem;
}
h4{
  font-size: 1.5rem;
}
h5{
  font-size: 1.25rem;
}
h6{
  font-size: 1rem;
}
p{
  margin-bottom: 1rem;
}
section,
footer {
  width: 100%;
}
.row-wrapper {
  max-width: 1240px;
  width: 96%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.flex-grow {
  flex-grow: 1;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
  gap: 1rem;
}

/* ----- Top Navigation Bar ----- */
.top-nav {
  background: var(--darkGrey);
}
.top-nav .row-wrapper {
  max-width: 1800px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 3rem;
}

/* Hashtag Wrapper */
.logo {
  display: none;
  margin: 0;
  font-size: 1rem;
}
.logo a {
  display: flex;
  align-items: center;
  color: var(--white);
  border: 2px solid transparent;
  padding: 0.1rem 0.5rem;
  border-radius: 8px;
  transition: var(--default-transition);
  background-color: rgba(94, 18, 121, 0);
}
.logo a:hover {
  border-color: var(--magenta);
  background-color: var(--darkMagenta);
}

/* Main Links */
.link-container{
  text-align: center;
  margin: auto;
}
.links {
  display: flex;
  padding: 0;
}
.link {
  border-right: 1px solid var(--white);
}
.link a {
  display: block;
  margin: 0 5px;
  padding: 0 0.5rem;
  color: var(--white);
  font-size: 1rem;
  transition: var(--default-transition);
  text-decoration: underline dotted 4px var(--darkGrey);
}
.link a:hover {
  text-decoration: underline dotted 4px var(--magenta);
}
.link:last-of-type {
  border-right: 0;
  padding-right: 0;
}

/* Social Share */
.socials {
  display: none;
  gap: 0.25rem;
  align-items: center;
  text-transform: uppercase;

}
.socials p{
  margin-bottom: 0;
}
.socials a {
  display: block;
  padding: 2px 4px;
  height: 45px;
  width: 45px;
  text-align: center;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: var(--default-transition);
  background-color: rgba(94, 18, 121, 0);
}
.socials a:hover {
  border-color: var(--magenta);
  background-color: var(--darkMagenta);
}

/* ----- Banner Area ----- */
.tplains-header {
  position: relative;
  background: var(--header-gradient);
  z-index: 1;
  padding: 3rem 0;
}
.tplains-header::after {
  position: absolute;
  background-image: url("assets/dots.png");
  background-repeat: repeat;
  background-size: auto;
  content: " ";
  width: 70%;
  height: 100%;
  top: 0;
  left: 30%;
  opacity: 10%;
  z-index: 1;
  mix-blend-mode: multiply;
}

/* Header Image */
.img-wrapper {
  position: relative;
  text-align: left;
  height: auto;
  flex: 0 1 300px;
  z-index: 2;
  margin: auto;
}
.header-img {
  width: 100%;
  height: auto;
  max-width: 350px;
}

/* Header Text Area */
.text-wrapper {
  flex: 0 1 560px;
  color: var(--white);
  margin: auto;
}
.subhead-divider {
  color: var(--magenta);
}
.info {
  font-family: var(--tplains-font_heading);
}
.info,
.sub-header,
.comment,
.intro {
  font-size: 1rem;
}
.header-text {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.sub-header {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 0;
  color: var(--magenta);
}
.comment {
  font-weight: 500;
  font-family: var(--tplains-font_heading);
}
.intro {
  font-family: var(--tplains-font_heading);
  margin-top: 1.5rem;
  line-height: 160%;
  margin-bottom: 2rem;
  max-width: 500px;
}

/* Tickets Button */
.btn-tickets-badge{
  max-width: 560px;
  width: 95%;
}
.btn-tickets-badge a{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row;
}
.btn-tickets-badge a span.btn-text{
  background-color: var(--white);
  display: inline-block;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 8px;
  transition: all ease-in-out 250ms;
  border: 4px solid var(--white);
  color: var(--darkMagenta);
  flex: 1 0 150px;
  font-family: var(--tplains-font_heading);
}
.btn-tickets-badge a span.badge{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex: 0 0 150px;
  position: relative;
  text-align: center;
  left: -1rem;

}
.btn-tickets-badge a span.badge >span{
  position: relative;
  z-index: 1;
  max-width: 140px;
  margin: 2rem auto;
  display: block;
  padding: 1rem;
}
.btn-tickets-badge a span.badge >img{
  position: absolute;
  z-index: 0;
}
.btn-tickets-badge a:hover span.btn-text{
  box-shadow: 0 0 40px 10px var(--navy);
  text-decoration: underline 4px dotted;
  background-color: var(--darkMagenta);
  color: var(--white);
}
.btn-tickets-badge a:hover span.badge >img{
  animation: spin 400ms linear;
  animation-delay: 50ms;
}
@keyframes spin{
  from{ transform:rotate(0deg);}
  to{transform:rotate(180deg);}
}

/* Header Buttons */
.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-flow: row wrap;
  max-width: 560px;
  margin: 4em auto 1rem;
  padding: 1rem 1rem 1rem 0;
}
.btn-container .btn {
  z-index: 2;
  position: relative;
  flex: 1 0 100%;

}
.btn-container .btn a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-container .header-btn {
  background: var(--magenta);
  width: 100%;
  font-size: 1rem;
  border-radius: 4px;
  flex: 1 0 100%;
  padding: 1.25rem;
  border: 5px solid var(--magenta);
  transition: var(--default-transition);
  text-decoration: underline dotted 4px var(--magenta);
  color: var(--white);
}
.btn-container .header-btn span {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}
.btn-container .img-box {
  position: absolute;
  background: var(--darkGrey);
  transform: rotate(8deg);
  border: 3px solid white;
  border-radius: 5px;
  aspect-ratio: 1 / 1;
  right: 1rem;
  height: 80px;
  transition: var(--default-transition);
}
.btn-container .btn-img {
  position: relative;
  left: 50%;
  top: 50%;
  max-height: 1.5rem;
  transform: translate(-50%, -50%) rotate(-8deg);
  transition: var(--default-transition);
}
.btn-container .btn a:hover .header-btn,
.btn-container .btn a:focus .header-btn {
  border-color: var(--white);
  background-color: var(--white);
  box-shadow: 0 2px 4px var(--darkGrey);
  text-decoration: underline dotted 4px var(--magenta);
  color: var(--darkMagenta);
}
.btn-container .btn a:hover .img-box,
.btn-container .btn a:focus .img-box {
  transform: rotate(-8deg);
  background-color: var(--darkMagenta);
  box-shadow: 0 2px 4px var(--darkGrey);
}
.btn-container .btn a:hover .btn-img,
.btn-container .btn a:focus .btn-img {
  transform: translate(-50%, -50%) rotate(16deg);
}

/* ------ Event Details Band ------ */
section.event-details-wrapper {
  background-color: #fff;
  color: var(--navy);
  padding: 3rem 0;
}
.details-intro{
  position: relative;
  padding-bottom: 1.5rem;
}
.details-intro h2 {
  margin: 1rem auto 0;
  text-align: left;
  padding-left: 36%;
  line-height: 1em;
  font-size: 1.75rem;
}
.details-intro .photo-wrapper{
  position: absolute;
  width: 30%;
  top: 50%;
  z-index: 1;
  left: 5%;
  transform: translateY(-50%);
}
.details-intro svg{
  width: 100%;
  padding: 0;
  position: relative;
  z-index: 0;
}
.details-intro .photo-wrapper img {
  width: 100%;
}
.details-info{
  padding-left: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row wrap;
}
.details-info .details-info-col{
  flex: 1 0 100%;
  padding: 0;
  text-align: center;
}
.details-info .details-info-col h3{
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
  color: var(--darkGrey);
}
.details-info .details-info-col h4{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-family: var(--tplains-font_body);
  color: var(--blue);
  font-weight: 500;
  line-height: 1.4;
}
.details-info .details-info-col p{
  font-size: 1rem;
  font-style: italic;
  color: var(--darkGrey);
}

/* ------ SPEAKERS WRAPPER ------ */
.speakers-wrapper{
  padding: 3rem 0;
  text-align: center;
  background-color: var(--white);
  color: var(--navy);
}
.speakers-wrapper h2{
  margin-bottom: 2rem;
}
.speakers-wrapper p{
  color: var(--darkGrey);
}
.speaker-row{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: row wrap;
}
.speaker-item{
  flex: 0 1 100%;
  padding: 1rem;
  border: 2px solid var(--lightPurple);
  border-radius: 8px;
  margin: 4rem 1rem 1rem;
}
@media all and (min-width: 750px){
  .speaker-item{
    flex: 0 1 45%;
    padding: 1rem;
    border: 2px solid var(--lightPurple);
    border-radius: 8px;
    margin: 4rem 1rem 1rem;
  }
}
.speaker-item .img-wrapper{
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 1rem;
  transform: rotate(7deg);
  margin-bottom: 1rem;
  border: 10px solid var(--white);
  box-shadow: 0 2px 10px 8px rgba(0,0,0,.11);
  margin-top: -2rem;
}
.speaker-item .img-wrapper img{
  width: auto;
  height: 100%;
}
.speaker-item .copy-wrapper h3{
  color: var(--darkMagenta);
}
.speaker-item .copy-wrapper h3 span{
  display: block;
  font-size: .5em;
  color: var(--magenta);
}
.speaker-item .copy-wrapper p{
  text-align: left;
  margin: 1rem auto;
  max-width: 96%;
  line-height: 140%;
}

/* ------ SCHEDULE WRAPPER ------ */
.schedule-wrapper{
  padding: 4rem 0;
  background-color: var(--lightPurple);
  color: var(--navy);
}
.schedule-wrapper .btn-wrapper{
  margin-top: 2rem;
}

/* ----- FAQ Section Styles ----- */
#faq{
  position: relative;
  padding: 3rem 0;
}
#faq .faq-wrapper h2{
  top: -49px;
  position: absolute;
  left: 18px;
  font-weight: bold;
  font-size: 48px;
  color: var(--darkMagenta);
}
#faq .row-wrapper{
  position: relative;
  z-index: 3;
  max-width: 960px;
}
#faq .faq-wrapper{
  max-width: 752px;
  width: 96%;
  position: relative;
  z-index: 2;
  background-color: var(--magenta);
  color: white;
  margin: 2rem auto;
}
#faq .faq-list{
  padding: 1rem;
}
.faq-wrap{
  padding: 1rem 0;
}
.faq-q{
  color: white;
  margin-bottom: 1rem;
  line-height: 120%;
}
.faq-a{
  color: var(--white);
  font-weight: 500;
}
.faq-a a{
    color: var(--white);
    display: inline-block;
    font-weight: 600;
    text-decoration: underline dotted 2px var(--white);
    transition: var(--default-transition);
  }
.faq-a a:focus, .faq-a a:hover {
  text-decoration: underline solid 2px var(--white);
}
#faq::before{
  opacity: 0.03;
  background-repeat: repeat;
  background-position: center center;
  background-image: radial-gradient(black 7px, transparent 0);
  background-size: 30px 30px;
  background-color: lightgray;
  content: " ";
  position: absolute;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  width: 100%;
  z-index: 0;
}
#faq::after{
  background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 105.67%);
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  right: 30%;
  width: 70%;
  content: '';
  z-index: 1;
}



/* ----- Sponsors Section Styles ----- */

.sponsors-wrapper{
  padding: 3rem 0;
  text-align: center;
  background: linear-gradient(320deg,#5e1279 2.37%,#05125f 67.37%);
  color: var(--white);
}
.sponsors-wrapper h2{
  margin-bottom: 1rem;
}
.sponsors-wrapper p{
  max-width: 850px;
  margin: 1rem auto;
}

#sponsors{
  background: linear-gradient(320deg, #5E1279 2.37%, #05125F 67.37%);
  color: white;
  padding: 2rem 0;
}

#sponsors h2{
  margin-bottom: 1rem;
  color: white;
}
#sponsors h3{
  color: white;
}
#sponsors p{
  max-width: 900px;
  margin: 0 auto 1.5rem;
}
#sponsors p > a{
  color: var(--white);
  font-weight: 600;
  text-decoration: underline dotted 2px var(--white);
}
#sponsors p > a:hover, #sponsors p > a:focus {
  text-decoration: underline solid 2px var(--white);
}
#sponsors p.intro{
  font-size: 1.25rem;
}
.sponsor-group{
  margin-top: 2rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
}
.sponsor-group header{
  border-bottom: 1px solid white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: center;
  flex-flow: column;
}
.sponsor-group header h3{
  margin-top: 0;
  margin-bottom: .5rem;
}
.sponsor-group header a{
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}
.sponsor-list{
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 2rem;
  flex-flow: row wrap;
}
.sponsor-list .sponsor-item{
  margin: 1rem;
  flex: 0 1 80%;
}
.sponsor-list .sponsor-item .s-wrap{
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
  align-items: center;
  text-align: left;
}
.sponsor-list .sponsor-item a{
  flex: 0 1 125px;
  background-color: white;
  aspect-ratio: 1/1;
  display: flex;
  padding: 1rem .75rem;
  border-radius: 300px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 5px solid var(--lightPurple);
  margin-right: 1rem;
  position: relative;
}
.sponsor-list .sponsor-item a img{
  width: 100%;
  max-width: 350px;
  height: auto;
}
.sponsor-list .sponsor-item h4{
  font-size: 1.25rem;
}
.sponsor-list .sponsor-item h4 span{
  display: block;
  font-size: .7em;
}

/*
/* ------ FOOTER ------ */
footer.footer{
  width: 100%;
  background-color: var(--darkGrey);
  padding: 2rem 0;
  text-align: center;
}
footer img {
  width: 55%;
  max-width: 400px;
  margin: 0 auto 1rem;
}
.footer p a{
  color: var(--white);
  font-weight: 600;
  text-decoration: underline dotted 4px var(--magenta);
  transition: var(--default-transition);
}
.footer p a:focus, .footer p a:hover {
  text-decoration: underline solid 4px var(--magenta);
  color: var(--lightPurple);
}
.footer p {
  font-size: 1.2rem;
}
.footer p.creds-links{
  font-size: 1rem;
}
.footer p.creds-links a{
  display: inline-block;
  padding: 0 1rem;
}
.footer .years-list {
  margin: 1rem auto 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.footer .years-list li {
  width: auto;
  padding: 0 0.5rem;
  margin: 0.3rem 0;
  border-right: solid 0.1rem var(--white);
  color: var(--white);
}
.footer .years-list li a{
  color: var(--white);
  text-decoration: underline dotted 2px var(--white);
}
.footer .years-list li a:hover, .footer .years-list li a:focus {
  text-decoration: underline solid 2px var(--white);
}
.footer .years-list li:first-of-type {
  font-weight: 700;
  border: none;
}
.footer .years-list li:last-of-type {
  border-right: none;
}

/* ------ Large Phone Styles ------- */
@media (min-width: 550px) {
  .info {
    font-size: 2rem;
  }
  .header-text {
    font-size: 4rem;
  }
  .sub-header {
    font-size: 2.66rem;
  }
  .comment {
    font-size: 1.75rem;
  }
  .intro {
    font-size: 1.2rem;
  }

}

@media all and (min-width: 660px){
  .details-info{
    padding: 2.5rem 2rem;
  }
  .details-info .details-info-col{
    flex: 1 0 fit-content;
    text-align: left;
  }
}
/* ------ Large Tablet Styles ------ */
@media all and (min-width: 750px){

  .logo, .socials{
    display: flex;
  }
  .img-wrapper {
    flex: 0 1 40%;
  }
  .header-img {
    max-width: 600px;
  }
  .btn-tickets-badge a span.btn-text{
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }
  /* ------ Event Details Band ------ */
  section.event-details-wrapper {
    padding: 5rem 0 2rem;
  }
  .details-intro h2 {
    margin: 1rem auto;
    font-size: 2.25rem;
  }
  .details-intro svg{
    padding: 0 1rem;
  }
  .details-info{
    padding-left: 40%;
    padding-top: 0;
  }
  /* ------ Sponsors ------ */
  .sponsor-group header{
    flex-flow: row;
  }
  .sponsor-list .sponsor-item{
    margin: 1rem;
    flex: 0 1 28%;
  }
  .sponsor-list .sponsor-item .s-wrap{
    text-align: center;
    flex-flow: column;
  }
  .sponsor-list .sponsor-item .s-wrap a{
    margin-right: 0;
    flex: 0 1 225px;
  }
  footer #f1 img {
    width: 35%;
  }

}


/* ------ Large Tablet Styles ------ */
@media all and (min-width: 960px){

  /* Header Buttons */
  .btn-container{
    margin-top: 6rem;
    max-width: 100%;
    padding: 0;
  }
  .tplains-header .btn-container .btn{
    flex: 1 0 30%;
    max-width: 400px;
  }
  .btn-container .header-btn {
    width: 100%;
    font-size: 1.25rem;
    flex: 1 0 30%;
    padding: 1rem;
  }
  .btn-container .img-box {
    right: 1rem;
    height: 80px;
  }
  .btn-container .btn-img {
    max-height: 2.25rem;
  }
  .details-intro .photo-wrapper{
    top: 70%;
  }
  .details-info{
    padding-left: 40%;
    padding-top: 0;
  }
  .details-info .details-info-col{
    padding-top: 0;
  }
}

/* ------ Laptop Styles ------ */
@media all and (min-width: 1024px){
  :root {
    font-size: 18px;
  }

  #sponsors{
    padding: 4rem 0;
  }
  #faq .faq-wrapper{
    margin: 2rem auto 4rem 0;
  }
  #faq .faq-wrapper h2{
    position: absolute;
    font-size: 200px;
    font-style: normal;
    font-weight: 700;
    transform: rotate(90deg);
    left: 75%;
    top: 350px;
    line-height: 1;
  }
  .sponsor-list .sponsor-item a{
    border: 10px solid var(--lightPurple);
  }
}


/* ------ Large Desktop Styles ------ */
@media all and (min-width: 1260px){
  /* Header Buttons */
  .btn-container .header-btn {
    font-size: 1.5rem;
  }
  .btn-container .img-box {
    right: 1rem;
    height: 120px;
  }
  .btn-container .btn-img {
    max-height: 3rem;
  }
  .details-intro .photo-wrapper{
    top: 80%;
  }
}